.box
{
border: 1px solid black;
width:173px;
height:21px;
}
.input{
width:200px;}
body{background-image:url("http://previews.123rf.com/images/kaidash/kaidash1401/kaidash140100052/25279872-polygonal-background-Light-pink-vector-abstract-Stock-Vector.jpg");}
